# dependencies
node_modules

# security
server/ssl/*.pem

# generated 
coverage
dist
tmp
netlify
.docz
.idea

# misc
.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .bit
src/**/LICENSE
src/**/package.json
src/**/yarn.lock
